{% extends 'base.html.twig' %}

{% block body %}
    <div id="title">
        <h1>Statusbase: Paper {{ paper.manuscriptNo }}</h1>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Statusbase</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('digestlist') }}">Digests<span class="sr-only">(current)</span></a>
                    </li>
                    <li><a href="{{ path('acceptedpaperslist') }}">Accepted papers</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Insights<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('outforrevisioninsightslist') }}">Out for revision</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('insightsforstatuslist') }}">Accepted papers</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div id="paper-details-list">
        <div class="dl-horizontal">

            <dt>
                Author
            </dt>
            <dd>{{ paper.correspondingAuthor }}</dd>
            <dt>

                Article Type
            </dt>
            <dd>{{ paper.articleType }}</dd>
            <dt>
                Subject Area
            </dt>
            <dd>{{ paper.subjectArea1 }}</dd>
            <dd>{{ paper.subjectArea2 }}</dd>

            <dt>
                Impact Statement
            </dt>
            <dd>{{ paper.impactStatement }}</dd>

            <dt>Abstract</dt>
            <dd>{{ paper.abstract }}</dd>

            <dt>Acceptance Date</dt>
            <dd>{{ paper.acceptedDate is empty ? "" : paper.acceptedDate|date("d/m/Y") }}</dd>
        </div>
    </div>

    <h3>Insight</h3>
    <div id="insight-list">
    <div class="dl-horizontal">
    <dt>BRE Recommendation</dt>
    <dd>{{ paper.insightDecision }}</dd>

    {% if paper.insightDecision == 'Yes' or paper.insightDecision == 'Not Asked' %}
        <dt>Insight Justification</dt>
        <dd>{{ paper.insightComment }}</dd>

        </div>


        {% if not paper.insightCommissioned == true and paper.activeInsightAuthor == null %}
            <!-- Button trigger for no insight modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#noInsightModal">
                No Insight
            </button>

            <!-- No insight modal -->
            <div class="modal fade" id="noInsightModal" tabindex="-1" role="dialog"
                 aria-labelledby="noInsightModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="noInsightModalLabel">Insight will not be commmissioned</h4>
                        </div>
                        {{ form_start(noInsightForm) }}
                        <div class="modal-body">

                            {{ form_row(noInsightForm.insightNotCommissionedReason) }}


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            {{ form_widget(noInsightForm.insightNotCommissioned, {'attr': {'class': 'btn-primary'}}) }}
                        </div>
                        {{ form_end(noInsightForm) }}
                    </div>
                </div>
            </div>

            <!-- Button trigger for ask author modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#askAuthorModal">
                Pursue Insight
            </button>

            <!-- Ask author modal -->
            <div class="modal fade" id="askAuthorModal" tabindex="-1" role="dialog"
                 aria-labelledby="askAuthorModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="askAuthorModalLabel">Pursue Insight</h4>
                        </div>
                        {{ form_start(insightAuthorAskedForm) }}
                        <div class="modal-body">
                            {{ form_row(insightAuthorAskedForm.insightAuthor) }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            {{ form_widget(insightAuthorAskedForm.submit, {'attr': {'class': 'btn-primary'}}) }}
                        </div>
                        {{ form_end(insightAuthorAskedForm) }}
                    </div>
                </div>
            </div>



        {% elseif not paper.insightCommissioned == true and paper.activeInsightAuthor %}
            <div id=insightAuthor>
                <div class=dl-horizontal>
                    <dt>Insight author</dt>
                    <dd>{{ paper.activeInsightAuthor }}</dd>
                </div>
            </div>

            <!-- Button trigger for insight commissioned modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                    data-target="#insightCommissionedModal">
                Insight Commissioned
            </button>

            <!-- Insight commissioned modal -->
            <div class="modal fade" id="insightCommissionedModal" tabindex="-1" role="dialog"
                 aria-labelledby="insightCommissionedModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="insightCommissionedModalLabel">Insight commmissioned</h4>
                        </div>
                        {{ form_start(insightCommissionedForm) }}
                        <div class="modal-body">

                            {{ form_row(insightCommissionedForm.insightManuscriptNo) }}
                            {{ form_row(insightCommissionedForm.insightDueDate) }}
                            {{ form_row(insightCommissionedForm.insightCommissionedComment, {'attr': {'novalidate': 'novalidate'}}) }}


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            {{ form_widget(insightCommissionedForm.submitCommissioned, {'attr': {'class': 'btn-primary'}}) }}
                        </div>
                        {{ form_end(insightCommissionedForm) }}
                    </div>
                </div>
            </div>


            <!-- Button trigger for author refused modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#authorRefusedModal">
                Author refused
            </button>

            <!-- Author refused modal -->
            <div class="modal fade" id="authorRefusedModal" tabindex="-1" role="dialog"
                 aria-labelledby="authorRefusedModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="authorRefusedModalLabel">Author refused</h4>
                        </div>
                        {{ form_start(insightAuthorRefusedForm) }}
                        <div class="modal-body">

                                {{ paper.activeInsightauthor }}

                            {{ form_row(insightAuthorRefusedForm.insightAuthorRefusalReason) }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            {{ form_widget(insightAuthorRefusedForm.submit, {'attr': {'class': 'btn-primary'}}) }}
                        </div>
                        {{ form_end(insightAuthorRefusedForm) }}
                    </div>
                </div>
            </div>
        {% else %}
            <div id='insightCommissioningDecisionComment'>
                <div class="dl-horizontal">
                    <dt>Commissioning reason</dt>
                    <dd>{{ paper.insightCommissioningDecisionComment }}</dd>
                </div>
            </div>

        {% endif %}
    {% else %}

        </div>
    {% endif %}

    {% if paper.insightCommissioned %}
        <div id='insightCommisioning'>
            <div class="dl-horizontal">
                <dt>Insight commissioned</dt>
                <dd>{{ paper.insightCommissioned ? '✔':'No' }}</dd>
                <dt>Insight Author</dt>
                <dd>{{ paper.activeInsightAuthor }}</dd>
                <dt>Due Date</dt>
                <dd>{{ paper.insightDueDate|date("d/m/Y") }}</dd>
            </div>
        </div>
        {% if not paper.insightAuthorReminded %}
            {{ form_start(insightAuthorRemindedForm) }}
            {{ form_widget(insightAuthorRemindedForm) }}
            {{ form_end(insightAuthorRemindedForm) }}
        {% endif %}
        {% if paper.insightAuthorReminded and not paper.insightAuthorAcknowledged %}
            <div id='authorAcknowledged'>
                <div class="dl-horizontal">
                    <dt>Author Reminded</dt>
                    <dd>{{ paper.insightAuthorReminded ? '✔':'' }}</dd>
                </div>
            </div>
            {{ form_start(insightAuthorAcknowledgedForm) }}
            {{ form_widget(insightAuthorAcknowledgedForm) }}
            {{ form_end(insightAuthorAcknowledgedForm) }}

            <!-- Button trigger for assign editor modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#assignEditorModal">
                Assign editor
            </button>

            <!-- Assign editor modal -->
            <div class="modal fade" id="assignEditorModal" tabindex="-1" role="dialog"
                 aria-labelledby="assignEditorModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="assignEditorModalLabel">Author refused</h4>
                        </div>
                        {{ form_start(assignInsightEditorForm) }}
                        <div class="modal-body">
                            {{ form_row(assignInsightEditorForm.editorId) }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            {{ form_widget(assignInsightEditorForm.assignEditor, {'attr': {'class': 'btn-primary'}}) }}
                        </div>
                        {{ form_end(assignInsightEditorForm) }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <h3>Digest</h3>

    <div id="digest-list">
        <div class="dl-horizontal">

            <dt>
                No digest
            </dt>
            <dd>{{ paper.noDigestStatus }}</h3></dd>

            <dt>
                Author answers
            </dt>
            <dd>{{ paper.answersStatus }}</h3></dd>

            <dt>Author wrote digest?</dt>
            <dd>{{ paper.answersInDigestForm ? '✔':'' }}</dd>

            <dt>Digest writer</dt>
            <dd>{{ paper.digestWrittenBy }}</dd>

            <dt>Digest due date</dt>
            <dd>{{ paper.digestDueDate is empty ? "" : paper.digestDueDate|date("m/d/Y") }}</dd>

            <dt>Digest Received?</dt>
            <dd>{{ paper.digestReceived ? '✔':'' }}</dd>

            <dt>Digest signed off?</dt>
            <dd>{{ paper.digestSignedOff ? '✔':'' }}</dd>
        </div>
    </div>
    </div>


    {{ form_start(noDigestForm) }}
    {{ form_widget(noDigestForm) }}
    {{ form_end(noDigestForm) }}

    {{ form_start(answersForm) }}
    {{ form_widget(answersForm) }}
    {{ form_end(answersForm) }}

    {{ form_start(digestWriterForm) }}
    {{ form_widget(digestWriterForm) }}
    {{ form_end(digestWriterForm) }}

    {{ form_start(signOffDigestForm) }}
    {{ form_widget(signOffDigestForm) }}
    {{ form_end(signOffDigestForm) }}

{% endblock %}



    {% block stylesheets %}
        <style>
            body {
                background: #F5F5F5;
                font: 18px/1.5 sans-serif;
            }

            h1, h2 {
                line-height: 1.2;
                margin: 0 0 .5em;
            }

            h1 {
                font-size: 36px;
            }

            h2 {
                font-size: 21px;
                margin-bottom: 1em;
            }

            p {
                margin: 0 0 1em 0;
            }

            a {
                color: #0000F0;
            }

            a:hover {
                text-decoration: none;
            }

            code {
                background: #F5F5F5;
                max-width: 100px;
                padding: 2px 6px;
                word-wrap: break-word;
            }

            #wrapper {
                background: #FFF;
                margin: 1em auto;
                max-width: 800px;
                width: 95%;
            }

            #container {
                padding: 2em;
            }

            #welcome, #status {
                margin-bottom: 2em;
            }

            #welcome h1 span {
                display: block;
                font-size: 75%;
            }

            #icon-status, #icon-book {
                float: left;
                height: 64px;
                margin-right: 1em;
                margin-top: -4px;
                width: 64px;
            }

            #icon-book {
                display: none;
            }

            @media (min-width: 768px) {
                #wrapper {
                    width: 80%;
                    margin: 2em auto;
                }

                #icon-book {
                    display: inline-block;
                }

                #status a, #next a {
                    display: block;
                }

                @-webkit-keyframes fade-in {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                @keyframes fade-in {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                .sf-toolbar {
                    opacity: 0;
                    -webkit-animation: fade-in 1s .2s forwards;
                    animation: fade-in 1s .2s forwards;
                }
            }
        </style>
    {% endblock %}
